body {
    display: grid;
    grid-template-columns: auto 800px auto;
    grid-template-rows: auto 608px auto;
}

#title {
    grid-column-start: 2;
    grid-row-start: 1;
}

#gameWindow {
    width: 850px;
    height: 450px;
    background-color: #0022fe;
    grid-column-start: 2;
    grid-row-start: 2;
    position: relative;
}

#inventoryBox {
    width: 180px;
    height: 80px;
    background-color: #5f3e34ce;
    border-style: solid;
    border-color: #af7853;
    top: 10px;
    left: 10px;
    color: white
}

#dialogBar {
    bottom: 0px;
}

#setMainDialog {
    position: relative;
    width: 800px;
    height: 64px;

}

#heroAvatar {
    width: 72px;
    height: 68px;
    bottom: 32px;
    left: 0px;
}

#heroSpeech {
    width: 300px;
    background-color: #FFFFFF;
    top: 0px;
    left: 85px;
    opacity: 0;
}

#counterSpeech {
    width: 300px;
    background-color: #FFFFFF;
    top: 0px;
    right: 32px;
    opacity: 0;
}

#counterAvatar {
    width: 72px;
    height: 68px;
    bottom: 32px;
    right: -21px;
    opacity: 0;
}

#brownBar {
    bottom: 0px;
    height: 32px;
    width: 850px;
    background-color: #442c1c;
}

#squareTree {
    width: 64px;
    height: 64px;
    background-color: #00ff00;
    left: 400px;
    top: 150px;
    opacity: 1;
    transition: all 1s ease-in-out;

}

#key {
    width: 32px;
    height: 32px;
    left: 86px;
    top: 450px;
    opacity: 1;
    transition: all 1s ease-in-out;
}

#soundTrack {
    width: 850px;
    position: absolute;
    left: 560px;
    bottom: 320px;
    opacity: 1;
}

#well {
    width: 113px;
    height: 64px;
    left: 288px;
    top: 96px;
}

#doorWizardHut {
    width: 37px;
    height: 37px;
    left: 99px;
    top: 200px;
}

#chicken {
    width: 63px;
    height: 64px;
    left: 705px;
    top: 127px;
}

#hero {
    top: 390px;
    left: 267px;
    width: 50px;
    height: 50px;
    transition: all 1s ease-in-out;

}

#tileMap {
    background-color: #442c1c;
}

#bgOnTheRight {
    width: 600px;
    height: 960px;
    background-color: #0022fe;
    top: -120px;
    right: -600px;
}

#bgOnTheLeft {
    width: 600px;
    height: 960px;
    background-color: #0022fe;
    top: -120px;
    left: -600px;
}

.background {
    position: absolute;
    z-index: 0;
}

.character {
    position: absolute;
    z-index: 100;
}

.foreground {
    position: absolute;
    z-index: 1000;
    transition: all 1s ease-in-out;
}

.speechBubble {
    border-radius: 60px;
    padding: 5px 5px 5px 20px;
    user-select: none;
    cursor: default;
    transition: all 1s ease-in-out;
}